{% extends 'admin_base.html' %}

{% block title %}
    Reservation Management Page
{% endblock %}

{% block content %}

    <div class="container">
        <div>
            {% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="">
            <h1>Reservation Management</h1>
        </div>
        <table class="table" id="table">
            <thead>
            <tr bgcolor="#999999">
                <th align="center" width="120">Guest</th>
                <th align="center" width="220">Room</th>
                <th align="center" width="150">Check In</th>
                <th align="center" width="150">Check Out</th>
                <th align="center" width="200">Transaction Date</th>
                <th align="center" width="120">Total Price</th>
                <th align="center" width="120">Status</th>
                <th align="center" width="240">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                <td>{{ reservation.guest }}</td>
                <td>{{ reservation.room }}</td>
                <td>{{reservation.check_in }}</td>
                <td>{{reservation.check_out }}</td>
                <td>{{reservation.transaction_date }}</td>
                <td>${{ reservation.total_price}}</td>
                <td>{{ reservation.reservation_status }}</td>
                {% if reservation.reservation_status == 'confirmed' %}
                <td>
                    <a href="{% url 'reservation_management' %}?status=checkedIn&id={{ reservation.id }}" class="btn btn-success btn-xs">Check in</a>
                    <a href="{% url 'reservation_management' %}?status=delete&id={{ reservation.id }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
                {% elif reservation.reservation_status == 'checkedIn'%}
                <td>
                    <a href="{% url 'reservation_management' %}?status=checkedOut&id={{ reservation.id }}" class="btn btn-danger btn-xs">Check out</a>
                    <a href="{% url 'reservation_management' %}?status=delete&id={{ reservation.id }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
                {% elif reservation.reservation_status == 'checkedOut'%}
                <td>
                    <a href="{% url 'reservation_management'%}?status=delete&id={{ reservation.id }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
                {% elif reservation.reservation_status == 'cancel'%}
                <td>
                    <a href="{% url 'reservation_management'%}?status=delete&id={{ reservation.id }}" class="btn btn-danger btn-xs">Delete</a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'reservation_management' %}?status=confirmed&id={{ reservation.id }}" class="btn btn-success btn-xs">Confirm</a>
                    <a href="{% url 'reservation_management' %}?status=cancel&id={{ reservation.id }}" class="btn btn-primary btn-xs">Cancel</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}


            </tbody>
            {#            <tfoot>#}
            {#            <tr>#}
            {#                <td colspan="6"><h4 align="right">Total:</h4></td>#}
            {#                <td colspan="4"><h4><b>&euro;{{ total }}</b></h4></td>#}
            {#            </tr>#}
            {#            </tfoot>#}
        </table>
    </div>
{% endblock %}